@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 

html,
body,
#app {
    scroll-behavior: smooth;
}

#academy {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

.slow-animation {
    animation-duration: 3s !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #04040400;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Força checkbox nativo + cor azul */
input[type="checkbox"] {
  -webkit-appearance: auto !important;
  appearance: auto !important; 
  accent-color: #a9caff !important; /* blue-600 */ 
  cursor: pointer; 
  transition: box-shadow 0.2s ease, transform 0.05s ease;
}

/* Hover: ring suave */
input[type="checkbox"]:hover {
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.25);
}

/* Clique: tap leve */
input[type="checkbox"]:active {
  transform: scale(0.95);
}
